<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Name:</label>
        <input formControlName="name" />
        <div *ngIf="submitted && f.name.errors" class="error">Name is required</div>
    </div>

    <div>
        <label> GSM: </label>
        <input formControlName="gsm" />
        <div *ngIf="submitted && f.gsm.errors" class="error">GSM is requred</div>
    </div>

    <div>
        <label>Street: </label>
        <input type="text" formControlName="address">
        <div *ngIf="submitted && f.address.errors" class="error">Address is required</div>
    </div>

    <div>
        <label>Postcode: </label>
        <input type="number" formControlName="postcode">
        <div *ngIf="submitted && f.postcode.errors" class="error">Postcode is required</div>
    </div>

    <div>
        <label>City: </label>
        <input type="text" formControlName="city">
        <div *ngIf="submitted && f.city.errors" class="error">City is required</div>
    </div>

    <div>
        <label>State: </label>
        <input type="text" formControlName="state">
    </div>

    <div>
        <label>Country: </label>
        <input type="text" formControlName="country">
        <div *ngIf="submitted && f.country.errors" class="error">Country is required</div>
    </div>

    <div>
        <label>Membership Start Date: </label>
        <input type="date" formControlName="membershipStartDate">
        <div *ngIf="submitted && f.membershipStartDate.errors" class="error">Membership start date is required</div>
    </div>

    <div>
        <label>Membership Expiry Date: </label>
        <input type="date" formControlName="membershipExpiryDate">
        <div *ngIf="submitted && f.membershipExpiryDate.errors" class="error">Membership expiry date is required</div>
    </div>

    <div>
        <label>Profile photo URL: </label>
        <input type="text" formControlName="profilePhotoUrl">
    </div>

    <div>
        <label>Subscription paid: </label>
        <input type="checkbox" formControlName="subscriptionFeePaid">
    </div>

    <button type="submit">Submit</button>
</form>