<app-menu-bar></app-menu-bar>

<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Name:</label>
        <input formControlName="name" />
        <div *ngIf="submitted && f.name.errors" class="error">Name is required</div>
    </div>

    <div>
        <label>GSM:</label>
        <input formControlName="gsm" />
        <div *ngIf="submitted && f.gsm.errors" class="error">GSM is required</div>
    </div>

    <div>
        <label>Street:</label>
        <input formControlName="address" />
        <div *ngIf="submitted && f.address.get('address')?.errors" class="error">Address is required</div>
    </div>

    <div>
        <label>Postcode:</label>
        <input type="number" formControlName="postcode" />
        <div *ngIf="submitted && f.address.get('postcode')?.errors" class="error">Postcode is required</div>
    </div>

    <div>
        <label>City:</label>
        <input formControlName="city" />
        <div *ngIf="submitted && f.address.get('city')?.errors" class="error">City is required</div>
    </div>

    <div>
        <label>State:</label>
        <input formControlName="state" />
    </div>

    <div>
        <label>Country:</label>
        <input formControlName="country" />
        <div *ngIf="submitted && f.address.get('country')?.errors" class="error">Country is required</div>
    </div>

    <div>
        <label>Membership Start Date:</label>
        <input type="date" formControlName="membershipStartDate" />
        <div *ngIf="submitted && f.membershipStartDate.errors" class="error">Start date is required</div>
    </div>

    <div>
        <label>Membership Expiry Date:</label>
        <input type="date" formControlName="membershipExpiryDate" />
        <div *ngIf="submitted && f.membershipExpiryDate.errors" class="error">Expiry date is required</div>
    </div>

    <div>
        <label>Profile Photo URL:</label>
        <input formControlName="profilePhotoUrl" />
    </div>

    <div>
        <label>Subscription Paid:</label>
        <input type="checkbox" formControlName="subscriptionFeePaid" />
    </div>

    <button type="submit">Submit</button>
</form>