<nav class="navbar">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/members" routerLinkActive="active">Members</a>
    <a routerLink="/books" routerLinkActive="active">Books</a>
    <a routerLink="/video" routerLinkActive="active">Video</a>
    <a routerLink="/template" routerLinkActive="active">Template Form</a>
    <a routerLink="/reactive" routerLinkActive="active">Reactive Form</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
</nav>